{% extends "base.html" %}
{% block title %}Latest Posts{% endblock title %}
{% block body %}
<h1 class="mb-3">Latest</h1>
    {%for post in posts.items%}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src={{url_for('static',filename='pics/'+post.Author.image_file)}}>
            <a class="mr-2" href="{{url_for('user_post',username=post.Author.username)}}">{{ post.Author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2><a class="article-title" href="{{url_for('post',post_id=post.id)}}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
      {% endfor %}
{% endblock body %}
